@use '../../styles/vars';

.header {

  img {
    width: 40px;
    height: auto;
  }

  .navitem {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .navitem-img {
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
  }

  .navitem-txt {
    height: 40px;
    display: inline-flex;
    align-items: center;
  }

}