// Global font family
$global-font: 'Montserrat', sans-serif;

// Global font weight
$h2-weight: 600;
$h3-weight: 500;
$h4-weight: 500;
$h5-weight: 400;
$h6-weight: 300;

// Ours colors
$global-color-primary: #f26419;   // Bootstrap code : primary
$global-color-secondary: #008AB8; // Bootstrap code : info
$global-color-white: #ffffff;     // Bootstrap code : light
$global-color-light: #f5f5f5;     // Bootstrap code : white
$global-color-medium: #6d769c;    // Bootstrap code : secondary
$global-color-dark: #2d3142;      // Bootstrap code : dark

// Bootstrap theme colors
$theme-colors: (
   "primary": #f26419,
   "secondary": #6d769c,
   "success": #28a745,
   "danger": #dc3545,
   "warning": #ffc107,
   "info": #008AB8,
   "light": #FFFFFF,
   "dark": #2d3142,
   "white": #FFFFFF,
);

// import bootstrap stylesheet
@import "~bootstrap/scss/bootstrap";
