# https://help.github.com/ignore-files/

# Misc
Thumbs.db
secret.md
.DS_Store

# Dependency directories
node_modules/

# production
/dist
/build

# testing
/coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm
.npm
npm-debug.log*
*.tgz

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test