@use '../../styles/vars';

.home {

  @media only screen and (max-width: 576px) {
    .logotype {
      max-width: 60%;
      height: auto;
      margin-bottom: 0.7em;
    }
  }

  @media only screen and (min-width: 577px) and (max-width: 992px) {
    .logotype {
      max-width: 50%;
      height: auto;
      margin-bottom: 1em;
    }
  }

  @media only screen and (min-width: 993px) {
    .logotype {
      max-width: 40%;
      height: auto;
      margin-bottom: 1em;
    }
  }

}